.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.innerContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.msg {
  font-size: 1.5rem;
  line-height: 2;
  color: rgb(39, 50, 84);
}

.errorMsg {
  color: rgb(195, 76, 76);
}

.btnContainer {
  display: flex;
  gap: 5rem;
}

.manualGroupBtn,
.optimizedGroupBtn {
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  background-color: rgb(247, 247, 247, 0.5);
  transition: 0.3s;
}

.manualGroupBtn:disabled,
.optimizedGroupBtn:disabled {
  color: rgba(39, 50, 84, 0.5);
  background-color: rgba(131, 131, 131, 0.2);
}

.manualGroupBtn:hover,
.optimizedGroupBtn:hover {
  background-color: rgb(247, 247, 247, 0);
}
