.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.innerContainer {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  overflow-y: hidden;
}

/* .result {
  position: absolute;
  margin-left: 27vw;
  font-size: 25px;
} */

.guide {
  max-width: 100%;
  font-size: 1.2rem;
  text-align: center;
  white-space: normal;
  word-break: keep-all;
  color: rgb(39, 50, 84, 0.8);
}

.memberList {
  width: 100%;
  user-select: none;
}

.subTitle {
  margin-bottom: 0.5rem;
}

.members {
  width: 100%;
  min-height: 3rem;
  max-height: 8rem;
  /* flex-grow: 1; */
  /* max-height: 12rem; */
  background-color: rgba(247, 247, 247, 0.3);
  border-radius: 8px;
  padding: 1rem;
  overflow-y: scroll;
  user-select: none;
}

/* TODO: custom scrollbar 공통코드 추출 */
.members::-webkit-scrollbar {
  width: 12px;
}
.members::-webkit-scrollbar-thumb {
  background-color: rgba(247, 247, 247, 0.5);
  /* TODO: 스크롤과 list border가 겹치는 부분 해결 */
  border-radius: 16px;
}

.groups {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
  border: 3px solid rgba(247, 247, 247, 0.5);
  border-radius: 8px;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  user-select: none;
}

.groups::-webkit-scrollbar {
  height: 12px;
}
.groups::-webkit-scrollbar-thumb {
  background-color: rgba(247, 247, 247, 0.5);
  /* TODO: 스크롤과 list border가 겹치는 부분 해결 */
  border-radius: 16px;
}

.group {
  /* min-width: 16rem; */
  min-width: 16rem;
  flex-grow: 1;
  height: 100%;
  border-radius: 8px;
  padding: 1rem;
  background-color: rgba(247, 247, 247, 0.3);
  overflow-y: scroll;
  user-select: none;
}

/* TODO: custom scrollbar 공통코드 추출 */
.group::-webkit-scrollbar {
  width: 12px;
}
.group::-webkit-scrollbar-thumb {
  background-color: rgba(247, 247, 247, 0.5);
  /* TODO: 스크롤과 list border가 겹치는 부분 해결 */
  border-radius: 16px;
}

/* .groupName {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-align: center;
  color: rgb(39, 50, 84, 0.5);
  user-select: none;
} */

.memberList {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  user-select: none;
}

.member {
  display: inline-block;
  padding: 4px 8px;
  font-size: 0.9rem;
  border-radius: 12px;
  background-color: rgba(247, 247, 247, 0.8);
  user-select: none;
}

.buttons {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.retry,
.reset,
.save {
  width: 9rem;
  height: 2.5rem;
  border-radius: 4px;
  font-size: 1.2rem;
  background-color: rgb(247, 247, 247, 0.5);
  /* width: 180px;
  height: 60px;
  color: rgb(39, 50, 84);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(247, 247, 247, 0.5);
  border-radius: 10px;
  text-decoration-line: none; */
}

.retry:hover,
.reset:hover,
.save:hover {
  background-color: rgba(247, 247, 247, 0.8);
}

.dragging {
  opacity: 0.5;
}

.ghostContainer {
  position: absolute;
  transform: translate3d(-9999px, 9999px, 0);
}

.ghost {
  opacity: 1;
  transform: rotate(12deg);
}

.backwardButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  fill: rgba(247, 247, 247);
}

.backwardButton:hover {
  fill: rgba(90, 90, 90, 0.8);
}

.backwardIcon {
  width: 100%;
  height: 100%;
}

.container button {
  transition: all 0.1s;
}
