.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  /* padding: 0 2rem 2rem; */
  max-height: 30rem;
  overflow-y: scroll;
}

.list::-webkit-scrollbar {
  width: 0.8rem;
}
.list::-webkit-scrollbar-thumb {
  background-color: rgba(144, 30, 184, 0.2);
  border-radius: 1rem;
}
.listItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  width: 12rem;
  height: 5rem;
  background: rgba(173, 171, 171, 0.316);
  border: 2px solid #ffffff;
  border-radius: 20px;
  transition: all 200ms;
}
.listItem:hover {
  background: rgba(247, 247, 247, 0.6);
}

.name {
  font-size: 1.6rem;
}

.removeBtn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.6rem;
  color: rgb(189, 64, 64);
  background-color: #ddd;
  /* border: 2px solid #000; */
  border-radius: 50%;
  opacity: 0;
  transform: translate3D(50%, -50%, 0);
  transition: opacity 120ms;
  transition: background-color 220ms;
}
.listItem:hover .removeBtn,
.removeBtn:hover {
  opacity: 1;
}
.removeBtn:hover {
  background-color: #999;
}

.listItem.editing .view {
  display: none;
}
.listItem.editing .edit {
  display: block;
}

.edit {
  display: none;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 20px;
}
.edit:focus {
  outline: none;
}

.addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-size: 6rem;
  background: rgba(77, 37, 190, 0.28);
  border-radius: 50%;
  color: rgb(39, 50, 84);
}

.listItem.editing .edit {
  display: block;
}

.icon {
  width: 10rem;
  height: 10rem;
}

.guide {
  padding: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(39, 50, 84, 0.7);
}
