/* [Members.js] */

.guide {
  max-width: 100%;
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
  white-space: normal;
  word-break: keep-all;
  color: rgb(39, 50, 84, 0.7);
}

.addMemberForm input {
  width: 13rem;
  height: 2rem;
  padding: 0 0.5rem;
  border: solid 1px rgb(39, 50, 84, 0.5);
  border-radius: 4px;
  background-color: rgba(247, 247, 247, 0.5);
}

.addMemberForm button {
  width: 6rem;
  height: 2rem;
  margin-left: 0.5rem;
  border-radius: 4px;
  background-color: rgba(247, 247, 247, 0.5);
}

.addMemberForm button:hover {
  background-color: rgba(247, 247, 247, 0.7);
}

/* ---------------------------------------- */

/* [MemberList.js] */

.list {
  width: 100%;
  flex-grow: 1;
  margin: 1.5rem 2rem;
  padding: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  overflow-y: scroll;
  border: 3px solid rgba(247, 247, 247, 0.5);
  border-radius: 8px;
}

.list::-webkit-scrollbar {
  width: 0.8rem;
}

.list::-webkit-scrollbar-thumb {
  background-color: rgba(247, 247, 247, 0.5);
  /* TODO: 스크롤과 list border가 겹치는 부분 해결 */
  border-radius: 4px;
}

/* ---------------------------------------- */

/* [MemberItem.js] */

.memberItem {
  display: block;
  position: relative;
}

.memberItem span,
.memberItem input {
  display: block;
  font-family: inherit;
  font-size: inherit;
  border-radius: 1rem;
  border: solid 1px rgb(39, 50, 84, 0.5);
}

/* TODO: span과 input의 미묘한 너비차이 해결 */

.memberItem span {
  padding: 1rem 2.2rem;
  background-color: rgba(247, 247, 247, 0.5);
}

.memberItem input {
  padding: 1rem 2rem;
  background-color: rgba(247, 247, 247, 0.7);
}

.memberItem label {
  display: inline-grid;
  vertical-align: top;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  font-family: inherit;
  font-size: inherit;
}

.memberItem label::after {
  content: attr(data-value);
  visibility: hidden;
  height: 0;
  padding: 0 2.2rem;
  font-family: inherit;
  font-size: inherit;
  white-space: pre-wrap;
}

.memberItem button {
  position: absolute;
  top: -0.3rem;
  right: -0.3rem;
  display: none;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: rgb(189, 64, 64);
}

.memberItem:hover button {
  display: flex;
  transition: all 0.3s;
}
