.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  justify-content: space-between;
  text-align: center;
  width: 25%;
  min-width: 17rem;
  height: calc(100vh - 4rem);
  min-height: 38rem;
}

.description {
  font-size: 1.2rem;
  line-height: 1.4rem;
  /* TODO: 색상 변경 */
  color: rgba(247, 247, 247, 0.8);
}

.signInLink,
.signOutBtn {
  width: 8rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin: 0 auto;
  font-size: 1rem;
  border-radius: 2rem;
  text-transform: uppercase;
  transition: 0.3s;
  color: rgb(247, 247, 247);
  background-color: rgba(247, 247, 247, 0.3);
}

.signInLink:hover,
.signOutBtn:hover {
  color: rgb(39, 50, 84);
  background-color: rgba(247, 247, 247, 0.8);
}

.membersLink,
.recordsLink {
  /* padding: 0.8rem; */
  font-size: 1.3rem;
}

.newgroupLink {
  font-size: 1.7rem;
}

.subMenu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.githubLink,
.issueLink,
.settingBtn {
  width: 2.3rem;
  height: 2.3rem;
  background-color: rgba(247, 247, 247, 0.3);
  border-radius: 50%;
  display: inline-block;
  fill: rgba(247, 247, 247);
  transition: 0.3s;
}

.githubLink:hover,
.issueLink:hover,
.settingBtn:hover {
  background: rgba(247, 247, 247, 0.8);
  fill: rgb(39, 50, 84);
}

.icon {
  width: 2.3rem;
  height: 2.3rem;
}
