.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  justify-content: space-between;
  padding: 2rem;
  text-align: center;
  width: 25%;
  min-width: 20rem;
  height: 100vh;
}

.title {
  font-size: 4rem;
  line-height: 3.5rem;
}

.description {
  font-size: 1.2rem;
  color: rgba(247, 247, 247, 0.7);
}

.link {
  line-height: 3rem;
  font-size: 1.3rem;
}

.membersLink {
  composes: link;
}

.recordsLink {
  composes: link;
}

.newgroupLink {
  composes: link;
  line-height: 2.5rem;
  font-size: 1.8rem;
}

.subMenu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.githubLink,
.issueLink,
.settingBtn {
  width: 2.3rem;
  height: 2.3rem;
  background-color: rgba(247, 247, 247, 0.2);
  border-radius: 50%;
  display: inline-block;
  fill: rgba(247, 247, 247);
  transition: 0.3s;
}

.githubLink:hover,
.issueLink:hover,
.settingBtn:hover {
  background: rgba(247, 247, 247, 0.8);
  transition: all 0.3ms;
  fill: rgb(39, 40, 84);
}

.icon {
  width: 2.3rem;
  height: 2.3rem;
}
