.ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.li {
  border: 2px solid rgba(247, 247, 247, 0.8);
  border-radius: 0.5rem;
  color: #f7f7f7;
  transition: 0.3s;
}

.li:hover {
  background: rgba(247, 247, 247, 0.8);
}

.li:hover > a {
  color: rgb(39, 50, 84);
}

.li.active {
  background: rgba(247, 247, 247, 0.8);
}

.li.active > a {
  color: rgb(39, 50, 84);
}
