.li {
  margin-top: 1rem;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background: rgba(144, 30, 184, 0.2);
}
.li:hover {
  background: rgba(144, 30, 184, 0.4);
}
.li.active {
  background: rgba(144, 30, 184, 0.75);
}
