.signInLink,
.signOutBtn {
  display: inline-block;
  width: 8rem;
  height: 2.5rem;
  font-size: 1rem;
  flex: 1 1 auto;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid #f7f7f7;
  border-radius: 2rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.9);
}
.signInLink:after,
.signOutBtn:after {
  position: absolute;
  transition: 0.3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background-color: #f7f7f7;
}

.signInLink:hover,
.signOutBtn:hover {
  background: rgba(255, 255, 255, 0.8);
  color: rgb(39, 50, 84);
}
