.signInAndOut {
  display: inline-block;
  width: 9rem;
  height: 2rem;
  margin-top: 1.5rem;
  font-size: 1rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ffffff;
  border-radius: 2rem;
  transition: all 150ms;
}
.signInAndOut:hover {
  background: rgba(255, 255, 255, 0.8);
}
