* {
  box-sizing: border-box;
}
.alert {
  font-size: 32px;
}
.buttons {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}
button {
  background: inherit;
  border: none;
  box-shadow: none;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}
a {
  width: 180px;
  height: 60px;
  color: #000000;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  text-decoration-line: none;
}
