@font-face {
  font-family: 'NeoDunggeunmoPro';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/NeoDunggeunmoPro-Regular.woff2') format('woff2'),
    url('./fonts/NeoDunggeunmoPro-Regular.woff') format('woff');
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
<<<<<<< Updated upstream
  font-family: 'NeoDunggeunmoPro';
=======
  font-family: 'Emelind';
>>>>>>> Stashed changes
  line-height: 1.285;
  /* background-image: linear-gradient(112.1deg, rgba(32, 38, 57, 1) 11.4%, rgba(63, 76, 119, 1) 70.2%); */

  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);

  /* overflow: hidden; */
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  overflow: visible;
  cursor: pointer;
  font-family: inherit;
}
pre,
input {
  font-family: inherit;
}
:global .hidden {
  display: none !important;
}

:global .mainContainer {
  display: flex;
  flex-direction: row;
}

:global .main {
  width: 100%;
  min-width: 35rem;
  margin: 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
}

:global .title {
  margin-top: 2rem;
  font-size: 3rem;
  text-align: center;
  color: #fff;
}

:global .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

:global button:disabled {
  cursor: not-allowed;
}
